/* #lstm-chart {
	margin-top: 10rem;
}

#xgboost-chart{
	margin-top: 10rem;
	z-index: 1;
} */

#mode-switch-btn {
	text-align: center;
	padding: 0.5rem 1rem 0.5rem 1rem;
	background-color: #8E7EA4;
	border: 2px solid #25202D;
	border-radius: 100px;
	transition: all 0.5s ease;
}
#mode-switch-btn:hover {
	text-align: center;
	padding: 0.5rem 1rem 0.5rem 1rem;
	background-color: #25202D;
	color: #8E7EA4;
	/* border: 2px solid #25202D; */
	border-radius: 100px;
	transition: all 0.2s ease;
}

.control-pair {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-evenly;
	/* height: 1.5rem; */
}

#rightside {
	margin-top: 4rem;
	width: 50%;
	height: 100vh;
	/* height: 300px; */
	background-color: white;
	padding: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 0;
}

#leftside {
	width: 50%;
	height: 100vh;
	margin-top: 6rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	/* padding: 1rem; */
	flex-wrap: wrap;
	z-index: 0;
	/* background-color: white; */
}

.param, .pvalue {
	width: 30%;
	font-size: 1.5rem;
	text-align: center;
}

#controls {
	/* background-color: red; */
	width: 100%;
	height: 70%;
}

#product-input {
	width: 80%;
	/* position: relative; */
	margin-top: 5rem;
	margin-left: 10%;
	margin-right: 10%;
	/* margin-bottom: 0; */
	border-radius: 2rem;
	border: none;
	outline: none;
	padding: 1rem;
	font-size: 1rem;
	background-color: #ffffff88;
	/* opacity: 0.5; */
}

#product-input:focus {
	width: 80%;
	/* height: 2rem; */
	margin-top: 5rem;
	margin-left: 10%;
	margin-right: 10%;
	/* margin-top: 3rem; */
	border-radius: 2rem;
	border: none;
	outline: none;
	padding: 1rem;
	font-size: 1rem;
	background-color: #ffffff88;
}

#left-title {
	position: absolute;
	/* margin-top: 4rem; */
	top: 4rem;
	font-size: 2rem;
	z-index: -1;
	/* width: 100%; */
}

#right-title {
	position: absolute;
	/* margin-top: 4rem; */
	top: 4rem;
	font-size: 2rem;
	z-index: -1;
	/* width: 100%; */
}


#main-ctn {
	display: flex;
	/* justify-content: space-between; */
	/* align-items: flex-start; */
	height: 100vh;
}

/* #maiin-ctn {
	height: 100px;
} */

/* body {
	height: 100vh
} */