@font-face {
  font-family: 'Jost';
  src: local('Jost'), url(../assets/Jost.ttf) format('truetype');
  
}

body {
  margin: 0;
  font-family: 'Jost';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #8E7EA4;
  height: 100%;
  overflow: hidden;
}

html {
  margin: 0;
  padding: 0;
  background-color: #8E7EA4;
  height: 100%;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
